body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    padding: 8px;
    background: #777;
    color: white;
    text-align: right;
    z-index: 999;
}

nav .nav-button {
    display: inline;
    margin: 0;
    padding: 6px;
    border: none;
    border-radius: 4px;
    background-color: #aaa;
    font-size: inherit;
    text-decoration: none;
    cursor: pointer;
    color: white;
}

main {
    display: none;
    text-align: center;
}

footer {
    display: none;
    margin-top: 16px;
}

a:link.header-button,
a:visited.header-button,
a:hover.header-button {
    color: white;
}

:active.header-button,
a:active.header-button {
    color: black;
}

#overlay {
    position: absolute;
    left: 0;
    top: 34px;
    width: 100%;
    height: calc(100% - 34px);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #aaaa;
    color: #fff;
    font-size: 4.0em;
    z-index: 999;
}


#display {
    font-size: 2em;
    margin: 24px 0;
}


#form {
    font-size: 1.5em;
    width: fit-content;
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px;
    margin: auto;
}

#form label {
    font-weight: bold;
    padding: 8px;
}

#form input {
    font-size: 1em;
}

#form label,
#form input {
    display: block;
}

.container {
    width: fit-content;
    margin: auto;
    border: 1px solid black;
    border-radius: 8px;
    padding: 4px;
}

#result {
    padding: 8px;
    border-radius: 8px;
}

#result::after {
    font-size: 0.67em;
    vertical-align: middle;
}

.underweight {
    color: #fff;
    background-color: #00f;
}

.underweight::after {
    content: " (Underweight)";
}

.normal {
    color: #fff;
    background-color: #080;
}

.normal::after {
    content: " (Normal)";
}

.overweight {
    color: #fff;
    background-color:#f00;
}

.overweight::after {
    content: " (Overweight)";
}

.invalid {
    color: #fff;
    background-color: #777;
}